<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--These two alerts were added as part of manual setup for Devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container my-5">
    <%= yield %>
    </div>
  </body>
</html>
